.container
{
    padding-bottom: 50px
}


#mri_result,#gene_result,#gene_probability,#final_result,#final_probability,#audio_result
{
    font-weight: bold;
    font-size:medium
}


#MRI_probability,#gene_probability
{
    padding-right: 10px
}

.probability
{
    font-weight: bold;
    font-size:medium;
    padding-right: 10px;
    text-align: left
}

.segments_result
{
    font-weight: bold
}

#img
{   
    width: 350px;
    height: 350px;
    padding-top: 30px;
    padding-bottom: 20px
}


#gene_btn,#audio_btn,#results_btn,#download_results,#another_diagnosis
{  
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: #59c0df;
    color: white;
    border: #59c0df;
    border-radius: 5px
}

#gene_btn,#audio_btn,#results_btn
{
    float: left;
    margin-top: -34px;
    margin-left:10%
}

.age_label
{
    margin-left:10px
}

.gender_radio_btns
{
    margin-left:50px
}

#result_table
{
    margin-top: 20px
}

#empty
{
    margin-top: 50px;
    font-size: xx-large;
    text-align: center
    
}

#download_results
{
    margin-right: 20px
}

#status-message
{
    font-size:medium
}




